
//  Secrets.xcconfig
//
//
//  Created by 高秉嵩 on 2025/8/12.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
// ios-app/Config/Secrets.xcconfig
SUPABASE_URL = https://yveexbmtnlnsfwrpumgy.supabase.co
SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl2ZWV4Ym10bmxuc2Z3cnB1bWd5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ5ODkzNTMsImV4cCI6MjA3MDU2NTM1M30.ivGfr7odOB1a9KIAOV9QYH1Qv4e7B1bYcJdVA-vjYGk
